.section-wrapper { padding: 16px; border-radius: 12px; background: #FFF; box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10); }
.section-wrapper .content-sec { margin-bottom: 20px; text-align: center; }

.section-wrapper .link-action { display: flex; gap: 24px; align-items: center; justify-content: center; background: #F0F2FF; padding: 10px; border-radius: 6px; margin-bottom: 20px; }
.section-wrapper .link-action .link-action-btn { flex: 1; padding: 10px 20px; text-align: center; border-radius: 6px; background-color: transparent; cursor: pointer; transition: background-color 0.2s ease; }
.section-wrapper .link-action .link-action-btn.active { background: #FFF; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }

.section-wrapper .form-container { margin: 0 auto; }
.section-wrapper .auth-form { display: none;  }
.section-wrapper .auth-form.active { display: block;  }
.section-wrapper .auth-form .form-field { margin-bottom: 20px;  }
.section-wrapper .form-field .input-field { width: 100%; padding: 12px; border: 1px solid #CCC; border-radius: 6px; box-sizing: border-box; }
.section-wrapper .form-field .checkbox-input { display: flex; align-items: center; gap: 8px; }
.section-wrapper .form-field .checkbox-input input { width: 16px; height: 16px; }

.section-wrapper .form-submit { text-align: center; margin-top: 20px; }
.section-wrapper .form-submit:not(.resend-btn) .submit-btn { padding: 12px 36px; background: var(--hr-secondary-color, #F0F2FF); border: none; border-radius: 8px; cursor: pointer; transition: background-color 0.2s ease; color: #F0F2FF; }
.section-wrapper .form-submit:not(.resend-btn) .submit-btn:hover { background: #5669ec; }


#otp-section { display: none; }
#otp-form .second-mobile-number {  margin-top: 20px;  }
#otp-form .second-mobile-number .info-circle{ margin-top: 12px; gap: 12px; padding: 8px; border: 1px solid #b8bde1; background-color: #F0F2FF;  border-radius: 4px;}
#otp-form .second-mobile-number .info-circle svg{ width: 20px; height: 20px; }
#otp-form .resend-btn {  margin:0; flex-shrink: 0; display: flex; align-items: center; gap:16px;  margin-left: 16px; }
#otp-form .resend-btn .submit-link{  font-weight: 600; color: var(--hr-secondary-color) }


#response-message { text-align: center; margin-top: 12px; }
#response-message.error { color: #F22;}

#loading-spinner .spinner{ display: flex; align-items: center; justify-content: center; }

@media (max-width: 768px) {
    .section-wrapper .link-action { flex-direction: column; gap: 10px; }
    .section-wrapper .link-action .link-action-btn { flex: none; }
    .section-wrapper .form-container { width: 100%; padding: 0 16px; }
}