:root{ --bs-primary-rgb: 19, 45, 124; }

.btn { display: inline-flex; align-items: center; justify-content: center; font-weight: 600; border-radius: 8px; padding: 12px 24px; font-size: 16px; cursor: pointer; transition: 0.3s; border: none; }
.btn-primary { background: var(--hr-secondary-color); color: #fff; }
.btn-primary:hover { background: #0062cc; color: #fff; }
.btn-outline { background: #fff; border: 1px solid #ddd; color: #333; }
.btn-outline:hover { background: #f5f5f5; }
.btn-secondary { display: inline-flex; align-items: center; justify-content: center; padding: 10px 20px; border-radius: 8px; border: 1px solid #ccc; cursor: pointer; transition: all 0.3s; background-color: #fff; color: var(--hr-secondary-color); }
.btn-secondary:hover { background-color: #f3f4f6; }
.btn-group { display: flex; flex-wrap: wrap; gap: 12px; }

.sec-padded{ padding: 60px 0; }
.sec-padded-40{ padding: 40px 0; }

.heading h1 { margin-bottom: .5em; font-size: 52px; }
.heading h2 { margin-bottom: .45em; font-size: 38px; }
.heading p { font-size: 20px; max-width: 1000px; margin: 0 auto 1.25em; }
.heading .highlight { color: var(--hr-secondary-color);  }

.hero-section { background: #132d7c; text-align: center; color: #fff; }
.hero-section .heading h1 { color: #fff; margin-bottom: .3em; }
.hero-section .heading p { font-size: 20px; color: #fffc; max-width: 900px; margin: 0 auto 1.5em; }

@media screen and (max-width: 991px){
	.sec-padded { padding: 40px 0; }
	.sec-padded-40{ padding: 30px 0; }

	.heading h2 { font-size: 30px; }
	.heading p { font-size: 18px; }
}


@media screen and (max-width: 450px){
	.sec-padded { padding: 30px 0; }
	.sec-padded-40{ padding: 20px 0; }

	.heading h1 { font-size: 38px; }
	.heading h2 { font-size: 24px; }
	
	.heading p { font-size: 16px; }
}