*{ margin:0; padding:0; box-sizing: border-box; }
body { overflow:unset; margin: 0; background-color: #FFF; color: #5c5c5c;  }
body, a, input, select, textarea { font-family: 'Nunito', sans-serif; }
p{ margin: 0; }
a,a:hover, a:focus{ text-decoration:none}
a { color: var(--hr-primary-color); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
a:hover { color: #5c5c5c; }
ol, ul { padding-left: 32px;}
h1,h2,h3,h4,h5,h6{color: var(--hr-primary-color); text-transform: capitalize; line-height: 1.3; }
img { max-width: 100%; height: auto; display: block;}
p, li { font-size: 15px; line-height: 1.65; }

@media (max-width:767px) {
	h1:not(.product_title) { font-size: 32px; }
	.single-post h1 { font-size: 32px; }
}
@media (max-width:479px) {
	h1 { font-size: 40px; }
	h2 { font-size: 30px; }
	h3 { font-size: 27px; }
	h4 { font-size: 23px; }
	h5 { font-size: 20px; }
	h6 { font-size: 17px; }
} 
.container, .container-fluid, .container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x)* .5);
	padding-left: calc(var(--bs-gutter-x)* .5);
	margin-right: auto;
	margin-left: auto;
}

.best-in .container { width: 100%; }
.container-full{ max-width: 100%; padding: 0;}

.content-editor .main-desc p{margin-bottom: 8px;}
.content-editor .main-desc>li { font-size: 16px; }
.privacy-policy .content-editor blockquote { background: #F7F9FC; padding: 15px 30px; border-radius: 3px; border-left: 5px solid #4554BD; margin: 0 0 1rem;}
.privacy-policy .content-editor blockquote p { color: #4554BD; font-style: italic; }
.content-editor h1, .content-editor h2, .content-editor h3, .content-editor h4, .content-editor h5, .content-editor h6 { color: var(--hr-primary-color); }
.content-editor .main-desc { margin: 30px 0; }
.content-editor .main-desc h1 { margin-bottom: 16px; }

.content-editor ol, .content-editor ul{ padding-left: 20px; }
.content-editor ol.main-list{padding:0; }
.content-editor ol.main-list>li { list-style: none; counter-increment: h2Number; margin: 12px 0;}
.content-editor ol.main-list>li>h2 { font-size: 24px; font-weight: 700; position: relative; }
.content-editor ol.main-list>li>h2::before { content: counter(h2Number) "). "; position: relative; }
.content-editor ol.main-list li h3 { font-weight: 500; font-size: 24px; margin: 6px 0 4px; }

@media screen and (min-width: 767px){
	.content-editor ol, .content-editor ul{ padding-left: 32px}
}

.text-center { text-align: center;}
.d-none {display: none !important;}
.d-flex { display: flex !important;}
.d-block { display: block !important;}
.d-inline-block { display: inline-block !important;}

@media screen and (min-width: 576px){
	.text-sm-end { text-align: end;}
	.text-sm-start { text-align: start;}
}

@media screen and (min-width: 768px){
	.d-md-flex{display: flex !important;}
	.d-md-none{ display: none;}
	.text-md-end { text-align: end;}
	.text-md-start { text-align: start;}
}
@media screen and (min-width: 992px){
	.text-lg-end { text-align: end;}
	.text-lg-start { text-align: start;}
}

.row { --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; display: flex; flex-wrap: wrap;    margin-top: calc(-1* var(--bs-gutter-y)); margin-right: calc(-.5* var(--bs-gutter-x)); margin-left: calc(-.5* var(--bs-gutter-x)); }
.row>*{ flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--bs-gutter-x)* .5); padding-left: calc(var(--bs-gutter-x)* .5); margin-top: var(--bs-gutter-y);}

.mb-3{ margin-bottom: 16px ;}
.pb-4{ padding-bottom: 20px ;}
.py-4{ padding-top: 20px; padding-bottom: 20px ;}

.footer { background: #292e31; padding: 70px 0 0; margin-top: -1px; }
.footer-widgets.row { margin-bottom: 30px; }
.footer .widget { text-align: left; margin-bottom: 40px; }
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6,
.footer a, .footer ol li, .footer p, .footer ul li { color: #fff }

.footer .footer-copyright { text-align: center; }
.footer .meta-border { margin-top: 20px; margin-bottom: 25px; }
.footer .widget.widget_nav_menu ul li, .footer .widget.widget_pages ul li { border-bottom: 0; box-shadow: none; }
.footer .widget select, .footer .widget.widget_pages li a { border: 0; }
.footer .widget select:focus { border: 0; box-shadow: none; }

/* Blog page  */
.th-widget-area .widget ul { margin: 0; padding: 0; }
.th-widget-area .widget ul li { padding: 8px 0; list-style: none; border-bottom: 1px solid #e2e2e2; }
.th-widget-area .widget ul li:first-child { padding-top: 0; }
.th-widget-area .widget ul li ul li { margin-left: 20px; }
.th-widget-area .widget ul li a:hover { text-decoration: none; }
.th-widget-area .widget .post-date { display: block; font-size: 12px; color: #848484; }

.blog-hero .main-sidebar { margin-bottom: 20px; }
.blog-hero .sidebar-form { max-width: 425px; margin: 0 auto; }
.blog-container .container { max-width: 1440px !important; }

/* ----------------------------------------------- */
.elementor-toggle .elementor-tab-title,
.elementor-toggle .elementor-tab-content { border: 0; }

@media screen and (max-width: 767px) {
	.elementor-page .elementor-widget-toggle .elementor-toggle-item .elementor-tab-title { padding: 8px 4px; }
	.elementor-page .elementor-widget-toggle .elementor-toggle-item .elementor-toggle-title { margin-left: 4px; font-size: 16px; }
	.elementor-page .elementor-widget-toggle .elementor-toggle-item .elementor-tab-content { padding: 0 12px 12px; }
}
/* ----------------------------------------------- */
.best-in .e-con-inner{ --display: flex;}

.section{ padding-top: 30px; padding-bottom: 30px;}
.best-in .th-d-flex { flex-wrap: wrap;}
.half-width{width: 100%; padding: 10px; max-width: 50%;}
.full-width{width: 100%; padding: 10px; max-width: 100%;}
.width-auto{ max-width:auto; }
.image { text-align: center; }
@media screen and (max-width: 767px){
	.best-in .container{ width: 100%; }
	.half-width, .full-width, .width-auto{padding:0; max-width: 100%; }
}

.form-wrapper{ max-width: 400px; }
.section-template{ padding: 0; }
.wpcf7-form{ position: relative;}


/* Heading */
.heading.centered{ text-align: center;}
.heading .headline-color span { color: var(--hr-secondary-color); }
.heading p { margin-bottom: 20px; }
.pre-title .elementor-heading-title { font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.1px; margin: 0;} 
.best-in p { margin-bottom: 12px; }
.best-in .elementor-heading-title { margin-bottom: 20px; line-height: 1.4}
.icon-box-container {display: flex;flex-wrap: wrap;--col:3;--gap: 20px;gap: var(--gap);}
.icon-box-container.vertical-align { display: flex; flex-wrap: wrap; flex-direction: column;}
.icon-box-container .icon-box-wrapper {width: 100%;text-align: -webkit-center;padding: 12px;}
.icon-box-container .icon-box-title { font-size: 20px; font-weight: 700; margin-bottom: 10px; }
.icon-box-container p{ margin: 0; }
/* Left Side Icon */
.icon-box-container .icon-box-wrapper.icon-left {display: flex;text-align: left;width: 100%;align-items: center;}
.icon-box-container .icon-box-wrapper.icon-left .icon-box-content {margin-left: 16px;}
@media screen and (min-width:768px){
	.icon-box-container .icon-box-wrapper {max-width: calc((100% - var(--gap) * (var(--col) - 1)) / var(--col));}
}
@media screen and (max-width: 767px){
	.heading { text-align: center; }
	.icon-box-container{/* flex-direction: column; */}
	.form-wrapper{ margin: 0 auto; }
}
.section-tech-challange .grid-box.technical-challenges-icon .icon-box-wrapper {max-width: 100%;}
@media screen and (min-width: 767px) {
	.section-tech-challange .grid-box.technical-challenges-icon .icon-box-wrapper {max-width: calc(50% - 12px);position: relative;}
}

/* section-best-in */
.section-best-in .img-scribble{ top: -12px;}
@media screen and  (max-width:767px){
	.section-best-in .image {margin-top: 12px;text-align: -webkit-center;}
}
/* section-features */
.section-features .container{ max-width: 990px !important; }


/* section-qr-reports */
.section-qr-reports .image { text-align: center; }
.section-qr-reports .image img { max-width: 400px; width: 100%; }

/* section-sms-alert */
.section-sms-alert .icon-box-widget { padding: 0 10px;}
.section-sms-alert .icon-box-widget .icon-box-container.vertical-align {margin-left: 52px;}
.section-sms-alert .icon-box-widget .icon-box-wrapper{max-width: 100%; margin-bottom: 21px;padding: 24px;background-color: var(--icon-box-bg);border-radius: 16px;}
.section-sms-alert .icon-box-widget .icon-box-wrapper:last-child{margin-bottom: 0; }
.section-sms-alert .icon-box-widget .icon-box-wrapper .icon-box-title { margin: 0; font-size: 24px; }
.section-sms-alert .icon-box-widget .icon-box-wrapper .icon img{ max-width: 60px; }

@media screen and (max-width:768px){
	.section-sms-alert .icon-box-widget { padding: 0; }
	.section-sms-alert .icon-box-widget .icon-box-container.vertical-align { margin: 0; margin-top: 20px;}
}
@media screen and (max-width: 575px){
	.section-sms-alert .icon-box-widget .icon-box-wrapper{ padding: 12px; }
	.icon-box-container .icon-box-wrapper.icon-left .icon-box-content{ margin-left: 8px; }
	.section-sms-alert .icon-box-widget .icon-box-wrapper .icon-box-title { font-size: 20px; }
}
/* section-all-india */
.section-all-india .container { max-width: 1264px!important}
.section-all-india .image {}
.section-all-india .image img{/* aspect-ratio: 3 / 2; */}

@media screen and (max-width: 767px){
	.section-all-india .sec-heading{ margin-top: 12px}
}

/* section-faq */
.section-faq .container { max-width: 880px !important;}

/* section-footer-cta */


/* section-functionaly */
.section-functionaly .container { max-width: 1340px !important;}
.section-functionaly .icon-box-container{ gap: var(--gap);  --gap: 16px;--col: 1; }
.section-functionaly .icon-box-container .icon-box-wrapper{max-width:  calc((100% - (var(--gap) * (var(--col) - 1))) / var(--col)); padding: 12px; border-radius: 20px;background: #F9F9F9; }
.section-functionaly .icon-box-container .icon-box-wrapper{ text-align: left;}
@media screen and (min-width: 767px){
	.section-functionaly .icon-box-container{--col: 2; }
}
@media screen and (min-width: 1024px){
	.section-functionaly .icon-box-container{ --col: 4; }
}

/* section-client-precence */
.best-emr-in-state .section-all-india .image{ display: flex; width: 100%;}
.best-emr-in-state .section-all-india .image img{ height: 400px; object-fit: cover; width: 100%; }
@media screen and (max-width: 575px){
	.best-emr-in-state .section-all-india .image img { height: auto; }
}

/* section-procuct */

.product-content > *{ opacity: 0; transition: 0.2s ease-in all; }

.product-content >*:nth-child(1){transform: translateY(20px); transition-delay: 0.2s; }
.product-content >*:nth-child(2){transform: translateY(40px); transition-delay: 0.5s; }
.product-content >*:nth-child(3){transform: translateY(60px); transition-delay: 0.75s; }

.active .product-content > *{ transform: translateY(0); opacity: 1; transition: 0.5s ease-in all}


.section-procuct .half-width { padding: 0; } 
.section-procuct .product-slider { display: flex; align-items: center; flex-wrap: wrap; padding: 20px; } 
.section-procuct .product-content {padding: 50px 32px;background: #FFF;box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);margin-right: -78px;position: relative;overflow: hidden;} 
.section-procuct .product-content ul { column-count: 2; padding: 0; list-style-position: inside; } 


@media screen and (max-width: 991px) {
	.section-procuct .product-content { padding: 20px; margin-right: 0; margin-top: -80px; } 
	.section-procuct .product-slider { flex-direction: column-reverse; } 
	.section-procuct .product-content ul { column-count: 2; } 
	.section-procuct .half-width { max-width: 100%; } 
	.section-procuct .product-image { text-align: center; } 
}

@media screen and (max-width: 991px) {
	.section-procuct .product-content { margin-top: -30px; } 
}

.section-doctor {background-color: #f1f5ff;}
.section-doctor .content-box h3{    font-size: 20px;     font-weight: 700;}
.section-doctor .content-box ul{ padding: 12px 8px; padding-left:26px;background: #FFF;box-shadow: 0px 10px 30px 0px hsl(227deg 37% 41% / 10%)  }

.best-emr-in-state .section-doctor { position: relative;}
.best-emr-in-state .section-doctor .container{max-width: 1440px !important}
.best-emr-in-state .section-doctor .th-d-flex { justify-content: space-between; }
.best-emr-in-state .section-doctor .th-d-flex > .width-33 { max-width:50%; }
.best-emr-in-state .section-doctor .image{ display: none; position: absolute;bottom: 0;left: 0;right: 0;}
.best-emr-in-state .section-doctor .image img { max-width: 75%; }

@media screen and (min-width: 991px){
	.best-emr-in-state .section-doctor .th-d-flex > .width-33{max-width: 33%;padding: 0;z-index: 2;}
	.best-emr-in-state .section-doctor .image {display: flex;justify-content: center;align-items: flex-end;z-index: 0;}
}
@media screen and (max-width: 767px){
	.best-emr-in-state .section-doctor .th-d-flex > .width-33 { max-width:100%; margin-bottom: 20px; }
}
@media screen and (max-width: 575px){
	.best-emr-in-state .section-doctor .image{ margin-bottom:10px;  }
	.best-emr-in-state .section-doctor .image img{ max-width: 75%; }
}

/* technical-challenges */
.technical-challenges-icon {--gap: 24px;gap: var(--gap);}
.technical-challenges-icon .icon-box-wrapper-1{max-width: calc(100% - (var(--gap) / 2));display: flex;margin: 0;flex-direction: column;gap: var(--gap);}
.technical-challenges-icon .icon-box-wrapper{max-width:100%;padding: 24px 30px;border-radius: 8px;background: #FFF;box-shadow: 0px 12px 40px 4px rgba(0, 0, 0, 0.11);border-bottom: 2px solid #477bff;}

@media screen and (min-width:767px) {
	.technical-challenges-icon .icon-box-wrapper-1{max-width: calc(50% - (var(--gap) / 2));}
	.technical-challenges-icon .icon-box-wrapper-1:nth-child(odd){margin-top: calc(var(--gap) * 2);}
}
/*------------------------------------- best-ehr-in-state ------------------------------ */
.best-ehr-in-state .section-healthcare { display: flex; padding-bottom: 180px; flex-direction: column; align-items: center; gap: 25px; align-self: stretch; background: #f1f5ff; }
.best-ehr-in-state .section-healthcare .full-width { max-width: 800px;}
.best-ehr-in-state .section-healthcare .heading {display: flex; flex-direction: column; align-items: center;}
.section-healthcare .button{background-color: var(--hr-secondary-color);color: #fff;font-weight: 700;letter-spacing: 0.4px;border-radius: 8px;padding: 12px 32px;margin-bottom: 20px;display: inline-block;}

.best-ehr-in-state .section-functionaly { margin-top: -150px; }
.best-ehr-in-state .section-functionaly .functionaly-wrapper { display: flex; padding: 12px; flex-direction: column; align-items: center; gap: 12px; align-self: stretch; border-radius: 8px; background: var(--White-Color, #fff); box-shadow: 0px 7px 150px 0px rgba(218, 223, 226, 0.45); }
@media screen and (min-width: 1024px) {
	.best-ehr-in-state .section-functionaly .icon-box-container{ --col: 3; }
	.best-ehr-in-state .section-functionaly .functionaly-wrapper { padding: 36px; border-radius: 32px; }
}

.section-benefits .icon-box-container {}
.best-ehr-in-state .section-benefits .icon-box-container .icon-box-wrapper {--hue: 29;--color-hue: calc(var(--hue) - 10);display: flex;padding: 12px;flex-direction: column;align-items: center;gap: 10px;border-radius: 16px;background: hsla(var(--hue), 100%, 93%, 1);box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);}
.best-ehr-in-state .section-benefits .icon-box-container .icon-box-wrapper .icon-box-content { padding: 16px 8px; align-items: center; border-radius: 8px; background: #fff; height: 100%; }
.best-ehr-in-state .section-benefits .icon-box-container .icon-box-wrapper .icon-box-title {color: hsla(var(--color-hue), 96%, 67%, 1);}
.best-ehr-in-state .section-benefits .icon-box-container .icon-box-wrapper:nth-child(2) { --hue: 263; }
.best-ehr-in-state .section-benefits .icon-box-container .icon-box-wrapper:nth-child(3) { --hue: 210; }
@media screen and (min-width: 768px) {
	.section-benefits .icon-box-container { --col: 2; justify-content: center; }
}
@media screen and (min-width: 991px) {
	.section-benefits .icon-box-container { --col: 3; }
}

.best-ehr-in-state .section-all-india .container { max-width: 1140px !important; }
.best-ehr-in-state .section-all-india .image img { aspect-ratio: 1.15/0.425; }

.best-ehr-in-state .section-doctor .th-d-flex {background: #fff;box-shadow: 0px 10px 30px 0px hsl(227deg 37% 41% / 10%)}
.best-ehr-in-state .section-doctor .th-d-flex .image { }
.best-ehr-in-state .section-doctor .th-d-flex .image img {max-width: 100%;height: 100%;width: 100%;object-fit: cover;}
.best-ehr-in-state .section-doctor .th-d-flex .content-box { padding: 12px; }
.best-ehr-in-state .section-doctor .th-d-flex .content-box h3 { font-size: 18px; font-weight: 600; margin-bottom: 12px; }
.best-ehr-in-state .section-doctor .th-d-flex .content-box ul { box-shadow: none; padding: 0 0 0 20px; }
.best-ehr-in-state .section-doctor .th-d-flex > * {max-width: 100%;}
@media screen and (min-width: 769px) {
	.best-ehr-in-state .section-doctor .th-d-flex > * {max-width: 50%;padding: 0;}
	.best-ehr-in-state .section-doctor .th-d-flex .content-box { padding: 20px; }
	.best-ehr-in-state .section-doctor .th-d-flex .content-box h3 { font-size: 24px; }
}
.best-ehr-in-state .section-procuct .container{max-width:1340px !important; } 

@media screen and (min-width: 767px) {
	.best-ehr-in-state .section-tech-challange .th-d-flex .half-width { max-width: 50%; }
}

@media screen and (max-width: 768px) {
	.section-tech-challange .th-d-flex .half-width { max-width: 100%; }
}

/* best-pms-in-state */

.best-pms-in-state .section-best-in {background-image: url(https://healthray.com/wp-content/uploads/2024/08/Best-Pharmacy-Management-Software-in-india-BG.webp);}
.best-pms-in-state .icon-box-container { --gap: 24px; }
.best-pms-in-state .icon-box-container .icon-box-wrapper {border: 4px solid hsl(223, 100%, 90%);background: #fff;box-shadow: 0px 4px 12px 0px rgb(154 183 255 / 25%);border-radius: 0;text-align: left;}
.best-pms-in-state .icon-box-container .icon-box-wrapper .icon-box-icon { margin-bottom: 8px; }
.best-pms-in-state .icon-box-container .icon-box-wrapper .icon-box-icon img{ width: 50px; }
@media screen and (min-width:991px){
	.best-pms-in-state .icon-box-container .icon-box-wrapper .icon-box-icon img{width: 80px;}
}
@media screen and (max-width:767px){
	.best-pms-in-state .section { padding-top: 20px; padding-bottom: 20px; }
	.best-pms-in-state .icon-box-container{margin-bottom: 20px;}
}
.best-pms-in-state .section-healthcare .full-width { display: flex; max-width: 769px; width: 100%; padding: 16px; justify-content: center; align-items: center; margin-top: 1em; border-radius: 12px; border: 1px solid var(--hr-secondary-color, #477bff); background: #fff; box-shadow: 0px 10px 50px 0px rgba(71, 123, 255, 0.1); }
.best-pms-in-state .section-healthcare .button { margin: 0; }
@media screen and (min-width:991px){
	.best-pms-in-state .section-healthcare .full-width { padding: 24px; margin-top: -12em; border-radius: 30px; max-width: 75%}

}
.best-pms-in-state .section-benefits .icon-box-container .icon-box-wrapper { --hue: 263; background: hsla(var(--hue), 100%, 95%, 1); text-align: left; border-radius: 0px; border-radius: 0px; border: 0; box-shadow: none; }
.best-pms-in-state .section-benefits .icon-box-container .icon-box-wrapper:nth-child(2) { --hue: 30; }
.best-pms-in-state .section-benefits .icon-box-container .icon-box-wrapper:nth-child(3) { --hue: 210; }
.best-pms-in-state .section-benefits .icon-box-container .icon-box-icon { text-align: end; float: right; }
.best-pms-in-state .section-doctor { padding-bottom: 0; }
.best-pms-in-state .section-doctor .doctor-image { margin-top: 52px; }
.best-pms-in-state .section-doctor .doctor-image img { width: 100%; height: auto; }
@media screen and (max-width:767px){
	.best-pms-in-state .section-doctor .content-box ul{margin-bottom: 20px;}
}
.best-pms-in-state .section-procuct .container { max-width: 1170px !important; }
.best-pms-in-state .section-procuct .container .slider .slide {border: 1px solid var(--hr-primary-color);}